/* * {
  box-sizing: border-box;
} */

:root {
  --blue: ;
  --grey: ;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0.5rem;
  color: rgb(50, 52, 61);
  font-weight: 600;
  line-height: 1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  /* display: inline-block; */
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  width: 100%;
  background-color: rgb(50, 52, 61);
  padding: .5rem 0 .5rem 0;
  text-align: left;
}

.navBar {
  display: flex;
  /* flex-direction: row; */
  margin-right: 5%;
}

.pageTitle {
  width: 50%;
  /* justify-content:left; */
  /* width: auto; */
}

.pageTitle, .navigation {
  display: flex;
  align-items: center;
}

.pageTitle h1 {
  padding: .3rem .3rem .3rem 3.5rem;
  margin: 0px;
  margin-right: auto;
  background-color: rgb(146, 204, 206);
}

.navigation {
  /* display: flex; */
  width: 50%;
  justify-content: flex-end;  
}

.navigation a { 
  color: rgb(146, 204, 206);
  padding: 10px;
  font-size: 18px;
  text-underline-offset: .3rem;  
}

.heroBanner{
  display: flex;
  /* flex-direction: row; */
  padding: 5px;
  background: url(../images/02-hero-bg.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(3, 146, 255, 0.209);
}

.Profphoto {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.tagLine {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  align-items: center;
  /* //background-color: rgb(146, 204, 206); */
}

.tagLine h2 {
  background-color: rgb(146, 204, 206);
  padding: .3rem .3rem;
  margin-bottom: 0px;
}

