/* * {
  box-sizing: border-box;
} */

:root {
  --blue: ;
  --grey: ;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0.5rem;
  color: rgb(50, 52, 61);
  font-weight: 600;
  line-height: 1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  /* display: inline-block; */
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  width: 100%;
  background-color: rgb(50, 52, 61);
  padding: 1rem 0 1rem 0;
}

.main-nav {
  display: flex;
}

.pageTitle {
  display: flex;
  flex: 1;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.pageTitle h1 {
  padding: .3rem .3rem .3rem 3.5rem;
  margin: 0px;
  /* margin-right: auto; */
  background-color: rgb(146, 204, 206);
}


.navigation a { 
  color: rgb(146, 204, 206);
  padding: 10px;
  font-size: 18px;
  text-underline-offset: .5rem;  

}

.heroBanner{
  display: flex;
  padding: 5px;
  background: url(../images/02-hero-bg.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(3, 146, 255, 0.209);
}

.Profphoto {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}


.tagLine {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  align-items: center;
  /* //background-color: rgb(146, 204, 206); */
}

.tagLine h2 {
  background-color: rgb(146, 204, 206);
  padding: .3rem .3rem;
  margin-bottom: 0px;
}

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
}

.flexbox-item {
  display: flex;
  /* flex-flow: row wrap; */
  width: 96%;
  /* height: 300px; */
  margin: 10px;

}

.flexbox-item h2 {
  border-right: 3px solid #333;
  padding-right: 10px;
  width: 20%;
  text-align: right;
}

.flexbox-item p {
  width: 70%;
}




/* This is the screenshrink layout */

@media screen and (max-width: 575px) {

  .main-nav{
    flex-direction: column;
  }

  .navigation {
    flex-direction: row;
    flex: 1;
    justify-content:space-around;
  }

  .pageTitle {
    width: 100%;
    padding: 0px;
    margin-right: 0;
  }

  .heroBanner {
    flex-flow: column wrap;
    justify-content: center;
  }
  
  .tagLine h2{
    justify-content: center;
    align-content: center;
  }

  .flexbox-item {
    flex-flow: column wrap;
  }

  .flexbox-item h2 {
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 100%; 
    text-align: Left;
  }

  .flexbox-item p {
    width: 100%;
    padding-left: 10px;
  }

}